*
{
	padding: 0px;
	margin:0px;
}
a
{
	text-decoration: none;
}
.top-banner
{
	width: 100%;
	height: 420px;
	position: relative;
	z-index: 2;
	display: block;
}
.top-item
{
	height: 420px;
	background: url(../images/computer1.jpg) no-repeat center 0;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1;
	right: 0;
}
.item-inner
{
	width: 1200px;
	height: 420px;
	margin:0 auto;
	background: url(../images/computer1.jpg) no-repeat center 0;
}
.fault-list
{
	display: block;
	margin-bottom: 40px;
	font-size: 16px;
	margin-top: 20px;
}
.fault-list::after
{
	content: "";
	display: block;
	clear: both;
}
.fault-list-inner
{
	width: 1200px;
	margin:0 auto;
	display: block;
	// clear: both;
	// zoom:1;
}
.fault-list1-inner a:hover
{
	border:1px solid #39f;
}
.fault1
{
	width: 16.6%;
	// display: inline-block;
	float: left;
	text-align: center;
	color: #333;
}
.icon1,.icon2,.icon3,.icon4,.icon5,.icon6
{
	width: 68px;
	height: 68px;
	background: url(../images/cp2.png)no-repeat;
	display: inline-block;
}
.icon1
{
	background-position: 7px -11px;
}
.icon1:hover
{
	background-position: 7px -125px;
}
.icon2
{
	background-position: -169px -11px;
}
.icon2:hover
{
	background-position: -169px -125px;
}
.icon3
{
	background-position: -732px -11px;
}
.icon3:hover
{
	background-position: -732px -125px;
}
.icon4
{
	background-position: -361px -11px;
}
.icon4:hover
{
	background-position: -361px -125px;
}
.icon5
{
	background-position: -552px -11px;
}
.icon5:hover
{
	background-position: -552px -125px;
}
.icon6
{
	background-position: -933px -11px;
}
.icon6:hover
{
	background-position: -933px -125px;
}
.fault1:hover
{
	color: #20AAED;
}
.fault-list1
{
	background: #f5f5f5;
	border: 1px solid #e3e3e3;
	margin-bottom: 20px;
	clear: both;
}
.fault-list1-inner
{
	width: 1200px;
	margin:0 auto;
	font-size: 0;
	padding: 25px 0;
}
.blocks
{
	width: 222px;
	height:40px;
	line-height: 40px;
	color: #333;
	font-size: 16px;
	// display: block;
	display: inline-block;
	border:1px solid #e0e0e0;
	border-radius:6px;
	// float: left;
	margin: 8px;
	text-align: center;
}
.shops, .shops1, .shops2, .shops3, .shops4{
	background-image: url("../images/footer.png");
}
.shops{
	background-position: 0 0;
}
.shops1{
	background-position: 0 -43px;
}
.shops2{
	background-position: 0 -86px;
}
.shops3{
	background-position: 0 -129px;
}
.shops4{
	background-position: 0 -172px;
}